<form [formGroup]='empForm' (ngSubmit)="onFormSubmit(empForm.value)" fxLayout="column" fxLayoutAlign="left  center"
  fxLayoutGap="20px">

  <div fxLayout="row" fxLayoutGap="50px">

    <!-- <mat-label>First Name</mat-label> -->

    <mat-form-field fxLayoutGap="100px">
      <input type="text" formControlName="firstName" matInput placeholder="First Name">
    </mat-form-field>

    <mat-form-field fxLayoutGap="100px">
      <input type="text" formControlName="lastName" matInput placeholder="Last Name">
    </mat-form-field>

  </div>

  <mat-form-field fxLayoutGap="100px">
    <input type="text" formControlName="eid" matInput placeholder="EID">
  </mat-form-field>

  <mat-form-field fxLayoutGap="100px">
    <input type="text" formControlName="company" matInput placeholder="Company">
  </mat-form-field>






</form>